@charset "UTF-8";
.header .container, .header__list, .checkbox, .benefits, .what-we-do__list, .team, .social, .social__background, .clients__list, .clients__background, .footer__list, .join-to-us__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', serif;
}

ul {
  list-style: none;
}

p {
  font-family: 'Roboto', serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.webstudio {
  display: block;
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}

.web {
  color: #2196f3;
}

.studio {
  color: black;
}

.header__list {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
  display: none;
}

@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__link:hover {
  color: #2196f3;
}

.header__item:hover .header__link-box::after {
  opacity: 1;
  margin-top: 28px;
}

.header__link-box {
  position: relative;
}

.header__link-box::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: margin-top 1s;
  transition: margin-top 1s;
}

.header__link-2 {
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.header__link-2:hover {
  color: #2196f3;
}

.header__item {
  margin-right: 54px;
}

.header__link {
  color: black;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.contacts {
  font-weight: 500;
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts__contact {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.contacts__contact:first-child {
  margin-right: 50px;
}

@media screen and (max-width: 1200px) {
  .contacts__contact:first-child {
    margin-bottom: 12px;
  }
}

.contacts__contact:hover {
  color: #2196f3;
}

@media screen and (max-width: 1200px) {
  .contacts__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts__link {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.contacts__link:hover {
  color: #2196f3;
}

.contacts__svg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}

.gray-cross {
  background-color: #2196f3;
  width: 100%;
  border: 1px solid #eeeeee;
}

.mobile-modal {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-modal__flex {
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
  .mobile-modal__flex {
    margin-left: 40px;
  }
}

.mobile-modal__flex:last-child {
  margin-bottom: 48px;
}

.header__backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.header__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header__mobile-menu {
  border: none;
  background-color: white;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 140px;
}

@media screen and (min-width: 480px) {
  .header__mobile-menu {
    margin-left: 284px;
  }
}

@media screen and (min-width: 768px) {
  .header__mobile-menu {
    display: none;
    margin-left: auto;
  }
}

.header__mobile-menu-svg {
  border: none;
  background: none;
  width: 24px;
  height: 16px;
}

.mobile-modal__close-button {
  border: none;
  background-color: #fff;
}

.mobile-modal__close-svg {
  width: 18.67px;
  height: 18.67px;
  margin-left: 276px;
  margin-top: 21px;
}

@media screen and (min-width: 380px) {
  .mobile-modal__close-svg {
    margin-left: 360px;
  }
}

@media screen and (min-width: 480px) {
  .mobile-modal__close-svg {
    margin-left: 396px;
  }
}

.mobile-modal__close-button .mobile-modal__close-svg {
  -webkit-transition: 1s;
  transition: 1s;
}

.mobile-modal__close-button:hover .mobile-modal__close-svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #2196f3;
}

.mobile-modal__main-list {
  list-style: none;
}

.mobile-modal__main-item:first-child {
  margin-bottom: 35.71px;
}

.mobile-modal__main-item:nth-child(2) {
  margin-bottom: 32px;
}

.mobile-modal__main-logo {
  color: #000;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mobile-modal__main-logo:hover {
  color: #2196f3;
}

.mobile-modal__conect-item:first-child {
  margin-bottom: 32px;
}

.mobile-modal__tel {
  font-size: 34px;
  font-weight: 500;
  color: #757575;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mobile-modal__tel:hover {
  color: #2196f3;
}

.mobile-modal__gmail {
  font-size: 24px;
  font-weight: 500;
  color: #757575;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.mobile-modal__gmail:hover {
  color: #2196f3;
}

.mobile-modal__socials-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.mobile-modal__cross {
  height: 22px;
  width: 0.5px;
  background-color: #757575;
}

.mobile-modal__social {
  color: #2196f3;
}

.hero-section {
  text-align: center;
  width: 100%;
  padding-bottom: 200px;
  padding-top: 200px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

і .hero-section .container {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  і .hero-section .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-section__logo {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-section__logo {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__logo {
    line-height: 1.36;
    font-size: 44px;
  }
}

.hero-section__button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  color: #fff;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.hero-section__button:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.background-modal {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 40px;
}

@media screen and (min-width: 480px) {
  .background-modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .background-modal {
    width: 528px;
  }
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__close {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  margin-left: 290px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

@media screen and (min-width: 370px) {
  .backdrop__close {
    margin-left: 340px;
  }
}

@media screen and (min-width: 400px) {
  .backdrop__close {
    margin-left: 370px;
  }
}

@media screen and (min-width: 480px) {
  .backdrop__close {
    margin-top: 40px;
    margin-left: 412px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__close {
    margin-top: 16px;
    margin-left: 490px;
  }
}

.backdrop__close:hover .backdrop__close-svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.backdrop__close .backdrop__close-svg {
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.backdrop__close:hover {
  color: #2196f3;
}

.backdrop__close-svg {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.backdrop__information {
  padding-top: 2px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}

.your-information__label {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .your-information__label {
    margin-right: 800px;
    margin-left: 40px;
  }
}

.your-information__svg {
  position: absolute;
  margin-top: 18px;
  left: 15px;
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .your-information__svg {
    left: 55px;
  }
}

.your-information__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  -webkit-transition: border-color 500ms;
  transition: border-color 500ms;
  padding-left: 35px;
}

@media screen and (min-width: 480px) {
  .your-information__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .your-information__input {
    width: 448px;
  }
}

.your-information__input:hover {
  border-color: #2196f3;
}

.your-information__input .your-information__svg {
  position: relative;
}

.your-information__input + .your-information__svg {
  -webkit-transition: fill 500ms;
  transition: fill 500ms;
}

.your-information__input:hover + .your-information__svg {
  fill: #2196f3;
}

.your-information__coments {
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  -webkit-transition: border-color 500ms;
  transition: border-color 500ms;
  padding-left: 10px;
  padding-bottom: 90px;
}

@media screen and (min-width: 480px) {
  .your-information__coments {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .your-information__coments {
    width: 448px;
  }
}

.your-information__coments:hover {
  border-color: #2196f3;
}

.checkbox__agree-with {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}

.checkbox__agree {
  width: 16px;
  height: 15px;
  background: #212121;
}

@media screen and (min-width: 480px) {
  .checkbox__agree {
    padding-left: 52px;
    margin-right: 8.36px;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox__agree {
    padding-left: 52px;
  }
}

.checkbox__document-condition {
  color: #2196f3;
}

.backdrop__send-information {
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.benefits-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 30px;
}

.benefits__item {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .benefits__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__item:first-child {
  margin-right: 0;
}

.benefits__item::before {
  display: block;
  content: '';
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-position: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .benefits__item::before {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item::before {
    width: 270px;
  }
}

.benefits__item:nth-child(1)::before {
  background-image: url(../img-icons/antenna.png);
  background-repeat: no-repeat;
}

.benefits__item:nth-child(2)::before {
  background-image: url(../img-icons/clock.png);
  background-repeat: no-repeat;
}

.benefits__item:nth-child(3)::before {
  background-image: url(../img-icons/diagram.png);
  background-repeat: no-repeat;
}

.benefits__item:nth-child(4)::before {
  background-image: url(../img-icons/astronaut.png);
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  .benefits__benefit {
    text-align: center;
    font-weight: 700;
    color: #212121;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__benefit {
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .benefits__text {
    text-align: center;
    font-weight: 400;
    color: #757575;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .benefits__text {
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do .container {
  padding-bottom: 94px;
}

.what-we-do__headline {
  font-weight: 700;
  color: #212121;
  font-size: 36px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.what-we-do__item {
  margin-right: 30px;
}

.what-we-do__item:last-child {
  margin-right: 0;
}

.overley {
  position: relative;
}

.overley::before {
  content: '';
  display: block;
  position: absolute;
}

.overley__background {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 1%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.overley:hover .overley__background {
  opacity: 1;
}

.overley__headline {
  position: absolute;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 27px;
  padding-left: 94px;
}

.our-team-section {
  background-color: #f5f4fa;
}

.our-team-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}

.team {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  text-align: center;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.team__item:hover {
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team__image-worker {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .team__image-worker {
    width: 450px;
    height: 460px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__image-worker {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__image-worker {
    width: 270px;
    height: 260px;
  }
}

.team__worker {
  font-weight: 500;
  margin-bottom: 10px;
}

.team__work {
  font-weight: 400;
  color: #757575;
}

.social {
  margin-top: 30px;
  margin-bottom: 44px;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.social__item:hover {
  color: #fff;
}

.social__background {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.social__background:hover {
  background-color: #2196f3;
}

.social__svg {
  fill: currentColor;
}

.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__headline {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__svg {
  fill: currentColor;
}

.clients__item {
  color: #afb1b8;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__item:hover {
  color: #2196f3;
}

.clients__background {
  width: 100px;
  height: 92px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 1000ms;
  transition: -webkit-box-shadow 1000ms;
  transition: box-shadow 1000ms;
  transition: box-shadow 1000ms, -webkit-box-shadow 1000ms;
}

@media screen and (min-width: 480px) {
  .clients__background {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__background {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__background {
    width: 170px;
  }
}

.clients__background:hover {
  -webkit-box-shadow: 1px 2px 1px #2196f3, 0px 1px 1px #2196f3, 0px 1px 3px #2196f3;
          box-shadow: 1px 2px 1px #2196f3, 0px 1px 1px #2196f3, 0px 1px 3px #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  padding-top: 94px;
  padding-bottom: 60px;
}

.webstudio2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}

.web2 {
  color: #2196f3;
}

.studio2 {
  color: white;
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 9px;
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.footer-contacts__item {
  font-family: 'Roboto', serif;
  font-weight: 400;
  margin-left: 0px;
}

.footer-contacts__link {
  text-decoration: none;
  color: #757575;
}

.footer__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

@media screen and (min-width: 768px) {
  .footer__list {
    gap: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    gap: 70px;
  }
}

.footer__item {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item:nth-child(2) {
  margin-top: -30px;
}

.footer__item:nth-child(3) {
  margin-top: -30px;
}

@media screen and (min-width: 1200px) {
  .footer__item {
    text-align: left;
  }
}

.join-to-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.join-to-us-headline {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}

.join-to-us__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .join-to-us__item {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.join-to-us__defs {
  fill: #fff;
}

.join-to-us__background {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 60px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.join-to-us__background:hover {
  background-color: #2196f3;
}

.sign-up {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .sign-up__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sign-up__item:first-child {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .sign-up__item:first-child {
    margin-bottom: 0px;
    margin-right: 12px;
  }
}

.sign-up__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  padding-left: 10px;
  width: 350px;
  height: 50px;
  -webkit-transition: border-color 500ms;
  transition: border-color 500ms;
}

@media screen and (min-width: 480px) {
  .sign-up__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-up__input {
    width: 358px;
  }
}

.sign-up__input:hover {
  border-color: #2196f3;
}

.sign-up-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
}

.sign-up-button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign-up-button__conect {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  margin-left: 28px;
}

.sign-up-button__svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
  margin-left: 13px;
}
/*# sourceMappingURL=main.css.map */