* {
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', serif;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  outline: solid red;
}

/* section header */
.header .container {
  display: flex;
  align-items: center;
}
.webstudio {
  display: block;
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}
.header-menu {
  font-weight: 500;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
}
.header-link {
  margin-right: 54px;
}
.butten-link:nth-child(2) {
  margin-right: 55px;
}
.header-link:last-child {
  margin-right: 0;
}
.header-link:hover {
  color: #2196f3;
}
.header-contact-link:hover {
  color: #2196f3;
}
.header-list {
  margin-right: 54px;
}
.header-link {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.header-contacts {
  font-weight: 500;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contact:first-child {
  margin-right: 50px;
}
.header-contact-link {
  text-decoration: none;
  font-size: 14px;
  color: #757575;
}

/* buttons section */
.buttons-section .container {
  padding-top: 94px;
  padding-bottom: 50px;
}
.buttons-section {
}
.button-menu {
  list-style: none;
  display: flex;
  justify-content: center;
}
.butten-list {
  margin-left: 8px;
}
.butten-list:first-child {
  margin-left: 0;
}
.butten-link {
  font-weight: 500;
  color: #212121;
}

/* services section */
.services-section {
}
.services-section .container {
  padding-top: 50px;
}
.service-menu {
  list-style: none;
  display: flex;
  margin-right: auto;
}
.service-menu-2 {
  list-style: none;
  display: flex;
  margin-top: 30px;
  /* margin-left: 215px;
  margin-right: 215px; */
}
.service-menu-3 {
  list-style: none;
  display: flex;
  margin-top: 30px;
  /* margin-left: 215px;
  margin-right: 215px; */
}
.service-list {
  margin-left: 30px;
}
.service-list:first-child {
  margin-left: 0;
}
.servise-img {
  width: 370px;
  height: 294px;
}
.service-link {
  font-weight: 700;
  color: #212121;
}
.service-link2 {
  font-weight: 400;
  color: #757575;
}

/* footer */
.footer {
  background-color: #2f303a;
  height: 252px;
}
.footer .container {
  padding-top: 94px;
}
.webstudio2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 20px;
}
.web2 {
  color: #2196f3;
}
.studio2 {
  color: white;
}
.address {
  font-style: none;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 9px;
}
.footer-list {
  margin-bottom: 9px;
}
.footer-list:last-child {
  margin-bottom: 60px;
}
.footer-list {
  font-family: 'Roboto', serif;
  font-weight: 400;
  margin-left: 0px;
}
.footer-link {
  text-decoration: none;
  color: #757575;
}
