.header {
  display: flex;
}
.webstudio {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}
.header-menu {
  font-family: 'Roboto', serif;
  font-weight: 500;
  list-style: none;
  display: flex;
}
.header-link {
  text-decoration: none;
  color: black;
}
.header-menu-2 {
  font-family: 'Roboto', serif;
  font-weight: 500;
  list-style: none;
}
.header-link-2 {
  text-decoration: none;
  color: black;
}
.button-menu {
  list-style: none;
}
.butten-link {
  font-family: 'Roboto', serif;
  font-weight: 500;
  color: #212121;
}
.service-menu {
  list-style: none;
}
.service-menu-2 {
  list-style: none;
}
.service-menu-3 {
  list-style: none;
}
.service-link {
  font-family: 'Roboto', serif;
  font-weight: 700;
  color: #212121;
}
.service-link2 {
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #757575;
}
.webstudio2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web2 {
  color: #2196f3;
}
.studio2 {
  color: black;
}
.address {
  font-style: none;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #fff;
}
.footer-menu {
  list-style: none;
}
.footer-list {
  font-family: 'Roboto', serif;
  font-weight: 400;
}
.footer-link {
  text-decoration: none;
  color: #757575;
}
