* {
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', serif;
}

ul {
  list-style: none;
}
p {
  font-family: 'Roboto', serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto', serif;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: solid red;
}

/* section header */
.header .container {
  display: flex;
  align-items: center;
}
.webstudio {
  display: block;
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}
.header-menu {
  font-weight: 500;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
}
.header-link:hover {
  color: #2196f3;
}
.header-link-2:hover {
  color: #2196f3;
}
.header-list {
  margin-right: 54px;
}
.header-link {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.header-contacts {
  font-weight: 500;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contact:first-child {
  margin-right: 50px;
}
.header-contact-link:hover {
  color: #2196f3;
}
.header-contact {
  color: #757575;
}
.header-contact:hover {
  color: #2196f3;
}
.header-contact-link {
  text-decoration: none;
  font-size: 14px;
  color: #757575;
}
.contact-svg {
  margin-right: 10px;
  fill: currentColor;
}

/* buttons section */
.buttons-section .container {
  padding-top: 94px;
  padding-bottom: 50px;
}
.buttons-section {
}
.button-menu {
  list-style: none;
  display: flex;
  justify-content: center;
}
.button-list {
  margin-left: 8px;
}
.button-list:first-child {
  margin-left: 0;
}
.button-link {
  background-color: #f5f4fa;
  border: none;
  height: 38px;
  border-radius: 4px;
}
.button-link:hover {
  background-color: #2196f3;
}
.button-logo:hover {
  color: #fff;
}
.button-logo {
  font-weight: 500;
  color: #212121;
  fill: currentColor;
  margin-left: 22px;
  margin-right: 23px;
  font-size: 16px;
}

/* services section */
.services-section {
}
.services-section .container {
  padding-top: 50px;
}
.service-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 94px;
}
.service-list {
  /* position: relative; */
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.servise-img {
}
.overlay-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateX(100%);
  justify-content: center;
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
}
.service-list:hover .overlay {
  transform: translateX(0);
}
.service-list:hover {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* .overlay::before {
  content: '';
  display: block;
  position: absolute;
  opacity: ;
  z-index: 5;
  width: 100%;
  height: 294px;
} */

.servise-img {
  width: 370px;
  height: 294px;
}
.service-link {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  margin-bottom: 4px;
  margin-left: 24px;
}
.service-link2 {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin-bottom: 20px;
  margin-left: 24px;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer .container {
  padding-top: 94px;
  padding-bottom: 60px;
}
.webstudio2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web2 {
  color: #2196f3;
}
.studio2 {
  color: white;
}
.address {
  margin-top: 20px;
  font-style: normal;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 9px;
}
.footer-contacts-list {
  margin-bottom: 9px;
}
.footer-contacts-list:last-child {
  margin-bottom: 60px;
}
.footer-contacts-list {
  font-family: 'Roboto', serif;
  font-weight: 400;
  margin-left: 0;
}
.footer-contacts-link {
  text-decoration: none;
  color: #757575;
}
.footer-menu {
  display: flex;
}
.footer-list {
  margin-right: 70px;
}
.footer-list:last-child {
  margin-right: 0;
}
.join-to-us-menu {
  display: flex;
  margin-top: 20px;
}
.join-to-us {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.join-to-us-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  justify-content: center;
}
.join-to-us:last-child {
  margin-right: 0;
}
.join-to-us-defs {
  fill: #fff;
}
.join-to-us-background {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}
.join-to-us-background:hover {
  background-color: #2196f3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}
.footer-sign-up {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.footer-sign-up-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  width: 358px;
  height: 50px;
}
.footer-sign-up-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
}
.footer-sign-up-menu {
  display: flex;
}
.sign-up {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  margin-left: 28px;
}
.footer-sign-up-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
  margin-left: 13px;
}
