.header .container, .header__list, .contacts, .portfolio-buttons__list, .services__list, .footer__list, .join-to-us__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', serif;
}

ul {
  list-style: none;
}

p {
  font-family: 'Roboto', serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.webstudio {
  display: block;
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}

.web {
  color: #2196f3;
}

.studio {
  color: black;
}

.header__list {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
}

.header__link:hover {
  color: #2196f3;
}

.header__item:hover .header__link-box::after {
  opacity: 1;
  margin-top: 28px;
}

.header__link-box {
  position: relative;
}

.header__link-box::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: margin-top 1s;
  transition: margin-top 1s;
}

.header__link-2 {
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.header__link-2:hover {
  color: #2196f3;
}

.header__item {
  margin-right: 54px;
}

.header__link {
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.contacts {
  font-weight: 500;
  margin-left: auto;
}

.contacts__contact {
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.contacts__contact:first-child {
  margin-right: 50px;
}

.contacts__contact:hover {
  color: #2196f3;
}

.contacts__link {
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.contacts__link:hover {
  color: #2196f3;
}

.contacts__svg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}

.gray-cross {
  background-color: #2196f3;
  width: 100%;
  border: 1px solid #eeeeee;
}

.portfolio-buttons .container {
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-buttons__list {
  list-style: none;
}

.portfolio-buttons__item {
  margin-left: 8px;
}

.portfolio-buttons__item:first-child {
  margin-left: 0;
}

.portfolio-buttons__link {
  background-color: #f5f4fa;
  border: none;
  height: 38px;
  border-radius: 4px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.portfolio-buttons__link:hover {
  background-color: #2196f3;
}

.portfolio-buttons__link .portfolio-buttons__logo {
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.portfolio-buttons__link:hover .portfolio-buttons__logo {
  color: #fff;
}

.portfolio-buttons__logo {
  font-weight: 500;
  color: #212121;
  fill: currentColor;
  margin-left: 22px;
  margin-right: 23px;
  font-size: 16px;
}

.services .container {
  padding-top: 50px;
}

.services__list {
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 94px;
}

.services__item {
  background: #ffffff;
  border-radius: 1px;
  border: 1px solid #eeeeee;
}

.services__box {
  position: relative;
  overflow: hidden;
}

.services__p {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
}

.services__item .services__p {
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.services__item:hover .services__p {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.services__item {
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
}

.services__item:hover {
  border-radius: 1px;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .overlay::before {
  content: '';
  display: block;
  position: absolute;
  opacity: ;
  z-index: 5;
  width: 100%;
  height: 294px;
} */
.services__img {
  width: 370px;
  height: 294px;
}

.services__link {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 24px;
}

.services__link-2 {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin-bottom: 20px;
  margin-left: 24px;
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  padding-top: 94px;
  padding-bottom: 60px;
}

.webstudio2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}

.web2 {
  color: #2196f3;
}

.studio2 {
  color: white;
}

.footer__address {
  margin-top: 20px;
  font-style: normal;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 9px;
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.footer-contacts__item {
  font-family: 'Roboto', serif;
  font-weight: 400;
  margin-left: 0px;
}

.footer-contacts__link {
  text-decoration: none;
  color: #757575;
}

.footer__item {
  margin-right: 70px;
}

.footer__item:last-child {
  margin-right: 0;
}

.join-to-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.join-to-us-headline {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.join-to-us-headline:last-child {
  margin-right: 0;
}

.join-to-us__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-to-us__defs {
  fill: #fff;
}

.join-to-us__background {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 60px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.join-to-us__background:hover {
  background-color: #2196f3;
}

.sign-up-headline {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}

.sign-up-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  width: 358px;
  height: 50px;
  -webkit-transition: border-color 500ms;
  transition: border-color 500ms;
}

.sign-up-input:hover {
  border-color: #2196f3;
}

.sign-up-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
}

.sign-up-button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign-up-button__sign-up {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  margin-left: 28px;
}

.sign-up-button__svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
  margin-left: 13px;
}
/*# sourceMappingURL=portfolio.css.map */