* {
  margin: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  display: flex;
  font-family: 'Roboto', serif;
  /* margin: 0;
    padding: 0; */
}
body {
  font-family: 'Roboto', serif;
}
ul {
  display: flex;
  list-style: none;
}
.webstudio {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  padding-left: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}
.header-menu {
  /* font-family: 'Roboto', serif; */
  font-weight: 500;
  /* list-style: none; */
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
}
.header-link:hover {
  color: #2196f3;
}
.header-link-2:hover {
  color: #2196f3;
}
.header-list {
  margin-right: 54px;
}
.header-link {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.header-menu-2 {
  /* font-family: 'Roboto', serif; */
  font-weight: 500;
  /* list-style: none; */
  display: flex;
  padding-right: 215px;
  padding-left: 335px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-list-2 {
  margin-right: 50px;
}
.header-link-2 {
  text-decoration: none;
  font-size: 14px;
  color: #757575;
}
/* main */
/* .hero-box {
  position: absolute;
  background: #2f303a;
  width: 1600px;
  height: 600px;
  top: 80px;
} */
.hero-logo {
  /* font-family: 'Roboto', serif; */
  font-weight: 900;
  /* color: #fff; */
  margin-left: 452px;
  margin-right: 452px;
  margin-top: 200px;
  margin-bottom: 30px;
  text-align: center;
}
.hero-button {
  /* font-family: 'Roboto', serif; */
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  margin-left: 724px;
  margin-right: 724px;
  margin-bottom: 210px;
  text-align: center;
  border-top-color: #2196f3;
}
.button-take-your-information:hover .take-your-information {
  opacity: 1;
}
.benefits-menu {
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 94px;
}
.benefit-image-1 {
  left: 3.35%;
  right: 3.35%;
  top: 0%;
  bottom: 0%;
}
.benefit-image-2 {
  left: 2.15%;
  right: 2.2%;
  top: 0%;
  bottom: 0%;
}
.benefit-image-3 {
  left: 0%;
  right: 0%;
  top: 11.71%;
  bottom: 11.59%;
}
.benefit-image-4 {
  left: 0%;
  right: 21.67%;
  top: 7.47%;
  bottom: 5.87%;
}
.benefits-list {
  margin-left: 30px;
}
.benefit {
  font-weight: 700;
  color: #212121;
}
.benefit-text {
  font-weight: 400;
  color: #757575;
}
.what-we-do {
  /* font-family: 'Roboto', serif; */
  font-weight: 700;
  color: #212121;
  margin-right: 617px;
  margin-left: 617px;
  margin-top: 94px;
}
.what-we-do-menu {
  /* list-style: none; */
  display: flex;
  margin-top: 50px;
  margin-left: 215px;
  margin-right: 215px;
}
.what-we-do-list {
  margin-right: 30px;
}
.our-team {
  /* font-family: 'Roboto', serif; */
  font-weight: 700;
  color: #212121;
  margin-left: 668px;
  margin-right: 668px;
  margin-top: 188px;
}
.team-menu {
  /* list-style: none; */
  display: flex;
  margin-top: 50px;
  margin-left: 215px;
  margin-right: 215px;
}
.team-list-worker {
  margin-right: 30px;
}
.image-worker {
  width: 270px;
  height: 260px;
}
.worker {
  /* font-family: 'Roboto', serif; */
  font-weight: 500;
}
.work {
  /* font-family: 'Roboto', serif; */
  font-weight: 400;
}
.social-list {
  margin-right: 10px;
}
.footer {
  margin-top: 154px;
  margin-left: 215px;
}
.webstudio2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web2 {
  color: #2196f3;
}
.studio2 {
  color: black;
}
.address {
  font-style: none;
  font-family: 'Roboto', serif;
  font-weight: 400;
  /* color: #fff; */
}
.footer-menu {
  /* list-style: none; */
}
.footer-list {
  font-family: 'Roboto', serif;
  font-weight: 400;
  margin-left: -40px;
}
.footer-link {
  text-decoration: none;
  color: #757575;
}
