* {
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', serif;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  outline: solid red;
}

/* section header */
.header .container {
  display: flex;
  align-items: center;
}
.webstudio {
  display: block;
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}
.header-menu {
  font-weight: 500;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
}
.header-link:hover {
  color: #2196f3;
}
.header-link-2:hover {
  color: #2196f3;
}
.header-list {
  margin-right: 54px;
}
.header-link {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.header-contacts {
  font-weight: 500;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contact:first-child {
  margin-right: 50px;
}
.header-contact-link:hover {
  color: #2196f3;
}
.header-contact-link {
  text-decoration: none;
  font-size: 14px;
  color: #757575;
}
.contact {
  fill: #757575;
}
.contact:hover {
  fill: #2196f3;
}

/* section hero */
.hero-section {
  text-align: center;
}
.hero-section .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-box {
  width: 100%;
  height: 600px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  border-radius: 4px;
  margin: 10px auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-logo {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  margin-right: auto;
  margin-bottom: 40px;
  color: #fff;
}
.hero-button {
  /* font-family: 'Roboto', serif; */

  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
}

/* section benefits */
.benefits-section {
}
.benefits-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-menu {
  display: flex;
  margin-bottom: 10px;
}
.benefits-list {
  margin-left: 30px;
}
.benefits-list:first-child {
  margin-left: 0;
}
.benefits-list::before {
  display: block;
  content: '';
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-position: center;
  margin-bottom: 20px;
}
.benefits-list:nth-child(1)::before {
  background-image: url(../img-icons/antenna.png);
  background-repeat: no-repeat;
}
.benefits-list:nth-child(2)::before {
  background-image: url(../img-icons/clock.png);
  background-repeat: no-repeat;
}
.benefits-list:nth-child(3)::before {
  background-image: url(../img-icons/diagram.png);
  background-repeat: no-repeat;
}
.benefits-list:nth-child(4)::before {
  background-image: url(../img-icons/astronaut.png);
  background-repeat: no-repeat;
}

.benefit {
  /* font-family: 'Roboto', serif; */
  font-weight: 700;
  color: #212121;
  margin-bottom: 10px;
}
.benefit-text {
  /* font-family: 'Roboto', serif; */
  font-weight: 400;
  color: #757575;
}

/* section what we do */
.what-we-do-section {
}
.what-we-do-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.what-we-do {
  font-weight: 700;
  color: #212121;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}
.what-we-do-menu {
  display: flex;
}
.what-we-do-list {
  margin-left: 30px;
}
.what-we-do-list:first-child {
  margin-left: 0;
}

/* our team section */
.our-team-section {
  background-color: #f5f4fa;
}
.our-team-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.team-menu {
  display: flex;
}
.team-list-worker {
  margin-left: 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.container-worker {
  outline: red solid;
}
.team-list-worker:first-child {
  margin-left: 0;
}
.image-worker {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}
.worker {
  /* font-family: 'Roboto', serif; */
  font-weight: 500;
  margin-bottom: 10px;
}
.work {
  /* font-family: 'Roboto', serif; */
  font-weight: 400;
}
.social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 44px;
}
.social-list {
  width: 44px;
  height: 44px;
}
.social-background {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}
.symbol-defs {
  fill: #afb1af;
}
.symbol-defs:hover {
  fill: white;
}
.social-background:hover {
  background-color: #2196f3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}
/* all time clients */
.all-time-clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.client-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-link {
  align-items: center;
  justify-content: center;
  fill: #757575;
}
.client-link:hover {
  fill: #2196f3;
}
.client-background {
  width: 170px;
  height: 90px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-list {
  margin-right: 30px;
}
.client-list:last-child {
  margin-right: 0;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer .container {
  padding-top: 94px;
  padding-bottom: 60px;
}
.webstudio2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web2 {
  color: #2196f3;
}
.studio2 {
  color: white;
}
.address {
  margin-top: 20px;
  font-style: normal;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 9px;
}
.footer-contacts-list {
  margin-bottom: 9px;
}
.footer-contacts-list:last-child {
  margin-bottom: 60px;
}
.footer-contacts-list {
  font-family: 'Roboto', serif;
  font-weight: 400;
  margin-left: 0px;
}
.footer-contacts-link {
  text-decoration: none;
  color: #757575;
}
.footer-menu {
  display: flex;
}
.footer-list {
  margin-right: 70px;
}
.footer-list:last-child {
  margin-right: 0;
}
.join-to-us-menu {
  display: flex;
  margin-top: 20px;
}
.join-to-us {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.join-to-us-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  justify-content: center;
}
.join-to-us:last-child {
  margin-right: 0;
}
.join-to-us-defs {
  fill: #fff;
}
.join-to-us-background {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}
.join-to-us-background:hover {
  background-color: #2196f3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
}
