* {
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', serif;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: solid red; */
}

/* section header */
.header .container {
  display: flex;
  align-items: center;
}
.webstudio {
  display: block;
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}
.header-menu {
  font-weight: 500;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
}
.header-link:hover {
  color: #2196f3;
}
.header-list:hover .header-link-box::after {
  opacity: 1;
  margin-top: 28px;
}
.header-link-box {
  position: relative;
}
.header-link-box::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  transition: margin-top 1s;
}
.header-link-2:hover {
  color: #2196f3;
}
.header-link-2 {
  transition: color 500ms;
}
.header-list {
  margin-right: 54px;
}
.header-link {
  font-size: 14px;
  text-decoration: none;
  color: black;
  transition: color 500ms;
}
.header-contacts {
  font-weight: 500;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contact:first-child {
  margin-right: 50px;
}
.header-contact-link:hover {
  color: #2196f3;
}
.header-contact {
  color: #757575;
  transition: color 500ms;
}
.header-contact:hover {
  color: #2196f3;
}
.header-contact-link {
  text-decoration: none;
  font-size: 14px;
  color: #757575;
  transition: color 500ms;
}
.contact-svg {
  justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}

/* section hero */
.hero-section {
  text-align: center;
}
.hero-section .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-section {
  width: 100%;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  border-radius: 4px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-logo {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  margin-right: auto;
  margin-bottom: 40px;
  color: #fff;
}
.hero-button {
  /* font-family: 'Roboto', serif; */

  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  color: #fff;
  transform: scale(1, 1);
  transition: transform 500ms;
}
.hero-button:hover {
  transform: scale(1.5, 1.5);
}

.background-modal {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 40px;
}
.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1000ms;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop-svg {
  position: absolute;
  margin-top: 18px;
  left: 55px;
  fill: currentColor;
}
.close {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 490px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  transition: color 500ms;
}
.close:hover .close-svg {
  transform: rotate(180deg);
}
.close .close-svg {
  position: relative;
  transition: transform 1s;
}
.close:hover {
  color: #2196f3;
}
.close-svg {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
.take-your-information {
  padding-top: 2px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}
.your-information-label {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
  color: #757575;
  margin-right: 800px;
  margin-left: 40px;
}
.your-information-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: border-color 500ms;
}
.your-information-input .backdrop-svg {
  position: relative;
}
.your-information-input + .backdrop-svg {
  transition: fill 500ms;
}
.your-information-input:hover {
  border-color: #2196f3;
}
.your-information-input:hover + .backdrop-svg {
  fill: #2196f3;
}
.your-information-coments {
  height: 120px;
  width: 448px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 500ms;
}
.your-information-coments:hover {
  border-color: #2196f3;
}
.agree-with {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}
.checkbox-menu {
  display: flex;
}
.checkbox-agree {
  margin-left: 52px;
  margin-right: 8.36px;
  width: 16px;
  height: 15px;
  background: #212121;
}
.document-condition {
  color: #2196f3;
}
.send-information {
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* section benefits */
.benefits-section {
}
.benefits-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-menu {
  display: flex;
  margin-bottom: 10px;
}
.benefits-list {
  margin-left: 30px;
}
.benefits-list:first-child {
  margin-left: 0;
}
.benefits-list::before {
  display: block;
  content: '';
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-position: center;
  margin-bottom: 20px;
}
.benefits-list:nth-child(1)::before {
  background-image: url(../img-icons/antenna.png);
  background-repeat: no-repeat;
}
.benefits-list:nth-child(2)::before {
  background-image: url(../img-icons/clock.png);
  background-repeat: no-repeat;
}
.benefits-list:nth-child(3)::before {
  background-image: url(../img-icons/diagram.png);
  background-repeat: no-repeat;
}
.benefits-list:nth-child(4)::before {
  background-image: url(../img-icons/astronaut.png);
  background-repeat: no-repeat;
}

.benefit {
  /* font-family: 'Roboto', serif; */
  font-weight: 700;
  color: #212121;
  margin-bottom: 10px;
}
.benefit-text {
  /* font-family: 'Roboto', serif; */
  font-weight: 400;
  color: #757575;
}

/* section what we do */
.what-we-do-section {
}
.what-we-do-section .container {
  padding-bottom: 94px;
}
.what-we-do {
  font-weight: 700;
  color: #212121;
  font-size: 36px;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}
.what-we-do-menu {
  display: flex;
  justify-content: center;
}
.what-we-do-list {
  margin-left: 30px;
}
.what-we-do-list:first-child {
  margin-left: 0;
}

.overley {
  position: relative;
}
.overley::before {
  content: '';
  display: block;
  position: absolute;
}
.overley-background {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 1%;
  opacity: 0;
  transition: opacity 500ms;
}
.overley:hover .overley-background {
  opacity: 1;
}
.what-we-do-position {
  position: absolute;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 27px;
  padding-left: 94px;
  /* opacity: 0; */
}

/* our team section */
.our-team-section {
  background-color: #f5f4fa;
}
.our-team-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.team-menu {
  display: flex;
  justify-content: center;
}
.team-list-worker {
  margin-right: 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.team-list-worker:last-child {
  margin-right: 0;
}
.image-worker {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}
.worker {
  /* font-family: 'Roboto', serif; */
  font-weight: 500;
  margin-bottom: 10px;
}
.work {
  /* font-family: 'Roboto', serif; */
  font-weight: 400;
}
.social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 44px;
}
.social-list {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition: color 500ms;
}
.social-list:hover {
  color: #fff;
}
.social-background {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  transition: background-color 500ms;
}
.social-link-svg {
  fill: currentColor;
}
.social-background:hover {
  background-color: #2196f3;
}
/* all time clients */
.all-time-clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.client-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-item {
  fill: currentColor;
}
.client-list:hover {
  color: #2196f3;
}
.client-list {
  color: #afb1b8;
  transition: color 500ms;
}
.client-background {
  width: 170px;
  height: 90px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 1000ms;
}
.client-background:hover {
  width: 170px;
  height: 90px;
  border-radius: 4px;
  box-shadow: 1px 2px 1px rgba(33, 150, 243, 1),
    0px 1px 1px rgba(33, 150, 243, 1), 0px 1px 3px rgba(33, 150, 243, 1);
}
.client-list {
  margin-right: 30px;
}
.client-list:last-child {
  margin-right: 0;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer .container {
  padding-top: 94px;
  padding-bottom: 60px;
}
.webstudio2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web2 {
  color: #2196f3;
}
.studio2 {
  color: white;
}
.address {
  margin-top: 20px;
  font-style: normal;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 9px;
}
.footer-contacts-list {
  margin-bottom: 9px;
}
.footer-contacts-list {
  font-family: 'Roboto', serif;
  font-weight: 400;
  margin-left: 0px;
}
.footer-contacts-link {
  text-decoration: none;
  color: #757575;
}
.footer-menu {
  display: flex;
}
.footer-list {
  margin-right: 70px;
}
.footer-list:last-child {
  margin-right: 0;
}
.join-to-us-menu {
  display: flex;
  margin-top: 20px;
}
.join-to-us {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.join-to-us-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  justify-content: center;
}
.join-to-us:last-child {
  margin-right: 0;
}
.join-to-us-defs {
  fill: #fff;
}
.join-to-us-background {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  transition: background-color 500ms;
}
.join-to-us-background:hover {
  background-color: #2196f3;
}
.footer-sign-up {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}
.footer-sign-up-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  width: 358px;
  height: 50px;
  transition: border-color 500ms;
}
.footer-sign-up-input:hover {
  border-color: #2196f3;
}
.footer-sign-up-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
}
.footer-sign-up-menu {
  display: flex;
}
.sign-up {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  margin-left: 28px;
}
.footer-sign-up-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
  margin-left: 13px;
}
