.footer {
  background-color: #2f303a;
}
.footer .container {
  padding-top: 94px;
  padding-bottom: 60px;
}
.webstudio2 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web2 {
  color: $web-logo-color;
}
.studio2 {
  color: white;
}
.footer__address {
  margin-top: 20px;
  font-style: normal;
  font-family: 'Roboto', serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 9px;
}
.footer-contacts__item {
  margin-bottom: 9px;
}
.footer-contacts__item {
  font-family: 'Roboto', serif;
  font-weight: 400;
  margin-left: 0px;
}
.footer-contacts__link {
  text-decoration: none;
  color: #757575;
}
.footer__list {
  @extend %flex;
  flex-wrap: wrap;
  gap: 120px;
  @media screen and (min-width: 768px) {
    gap: 165px;
  }
  @media screen and (min-width: 1200px) {
    gap: 70px;
  }
}
.footer__item {
  text-align: center;
  align-items: center;
  &:nth-child(2) {
    margin-top: -30px;
  }
  &:nth-child(3) {
    margin-top: -30px;
  }
}
.join-to-us {
  display: flex;
  margin-top: 20px;
}
.join-to-us-headline {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.join-to-us__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  justify-content: center;
}
.join-to-us__defs {
  fill: #fff;
}
.join-to-us__background {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  @extend %flex;
  border-radius: 60px;
  transition: background-color 500ms;
  &:hover {
    background-color: $background-hover-color;
  }
}
.sign-up {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.sign-up__list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.sign-up__item {
  &:first-child {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-bottom: 0px;
      margin-right: 12px;
    }
  }
}
.sign-up__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  width: 100%;
  height: 50px;
  transition: border-color 500ms;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  &:hover {
    border-color: $border-hover-color;
  }
}
.sign-up-button {
  width: 200px;
  height: 50px;
  background: $background-color;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
}
.sign-up-button__list {
  display: flex;
}
.sign-up-button__conect {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  margin-left: 28px;
}
.sign-up-button__svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
  margin-left: 13px;
}
