.header .container {
  @extend %flex;
}
.webstudio {
  display: block;
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web {
  color: $web-logo-color;
}
.studio {
  color: black;
}
.header__list {
  font-weight: 500;
  @extend %flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header__link:hover {
  color: $text-hover-color;
}
.header__item:hover .header__link-box::after {
  opacity: 1;
  margin-top: 28px;
}
.header__link-box {
  position: relative;
}
.header__link-box::after {
  content: '';
  display: block;
  position: absolute;
  background-color: $background-color;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  transition: margin-top 1s;
}
.header__link-2 {
  transition: color 500ms;
  &:hover {
    color: $text-hover-color;
  }
}
.header__item {
  margin-right: 54px;
}
.header__link {
  @include text($text-color: black);
  text-decoration: none;
  font-size: 14px;
  transition: color 500ms;
}
.contacts {
  font-weight: 500;
  margin-left: auto;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contacts__contact {
  @include text($text-color: #757575);
  text-decoration: none;
  font-size: 14px;
  transition: color 500ms;
  &:first-child {
    margin-right: 50px;
    @media screen and (max-width: 1200px) {
      margin-bottom: 12px;
    }
  }
  &:hover {
    color: $text-hover-color;
  }
  @media screen and (max-width: 1200px) {
    display: flex;
  }
}
.contacts__link {
  @include text($text-color: #757575);
  text-decoration: none;
  font-size: 14px;
  transition: color 500ms;
  &:hover {
    color: $text-hover-color;
  }
}
.contacts__svg {
  justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}
.gray-cross {
  background-color: $web-logo-color;
  width: 100%;
  border: 1px solid #eeeeee;
}

.mobile-modal {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-modal__flex {
  margin-left: 10px;
  @media screen and (min-width: 480px) {
    margin-left: 40px;
  }
  &:last-child {
    margin-bottom: 48px;
  }
}
.header__backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.header__is-hidden {
  opacity: 0;
  pointer-events: none;
}
.header__mobile-menu {
  border: none;
  background-color: white;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 140px;
  @media screen and (min-width: 480px) {
    margin-left: 284px;
  }
  @media screen and (min-width: 768px) {
    display: none;
    margin-left: auto;
  }
}
.header__mobile-menu-svg {
  border: none;
  background: none;
  width: 24px;
  height: 16px;
}

.mobile-modal__close-button {
  border: none;
  background-color: #fff;
}
.mobile-modal__close-svg {
  width: 18.67px;
  height: 18.67px;
  margin-left: 276px;
  margin-top: 21px;
  @media screen and (min-width: 380px) {
    margin-left: 360px;
  }
  @media screen and (min-width: 480px) {
    margin-left: 396px;
  }
}
.mobile-modal__close-button .mobile-modal__close-svg {
  transition: 1s;
}
.mobile-modal__close-button:hover .mobile-modal__close-svg {
  transform: rotate(180deg);
  fill: #2196f3;
}
.mobile-modal__main-list {
  list-style: none;
}
.mobile-modal__main-item {
  &:first-child {
    margin-bottom: 35.71px;
  }
  &:nth-child(2) {
    margin-bottom: 32px;
  }
}
.mobile-modal__main-logo {
  color: #000;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  transition: 500ms;
}
.mobile-modal__main-logo:hover {
  color: #2196f3;
}
.mobile-modal__conect-item {
  &:first-child {
    margin-bottom: 32px;
  }
}
.mobile-modal__tel {
  font-size: 34px;
  font-weight: 500;
  color: #757575;
  transition: 500ms;
}
.mobile-modal__tel:hover {
  color: #2196f3;
}
.mobile-modal__gmail {
  font-size: 24px;
  font-weight: 500;
  color: #757575;
  transition: 500ms;
}
.mobile-modal__gmail:hover {
  color: #2196f3;
}
.mobile-modal__socials-list {
  margin-top: 64px;
  display: flex;
  gap: 10px;
}
.mobile-modal__cross {
  height: 22px;
  width: 0.5px;
  background-color: #757575;
}
.mobile-modal__social {
  color: #2196f3;
}
