.header .container {
  @extend %flex;
}
.webstudio {
  display: block;
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web {
  color: $web-logo-color;
}
.studio {
  color: black;
}
.header__list {
  font-weight: 500;
  @extend %flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
}
.header__link:hover {
  color: $text-hover-color;
}
.header__item:hover .header__link-box::after {
  opacity: 1;
  margin-top: 28px;
}
.header__link-box {
  position: relative;
}
.header__link-box::after {
  content: '';
  display: block;
  position: absolute;
  background-color: $background-color;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  transition: margin-top 1s;
}
.header__link-2 {
  transition: color 500ms;
  &:hover {
    color: $text-hover-color;
  }
}
.header__item {
  margin-right: 54px;
}
.header__link {
  @include text($text-color: black);
  text-decoration: none;
  font-size: 14px;
  transition: color 500ms;
}
.contacts {
  font-weight: 500;
  @extend %flex;
  margin-left: auto;
}
.contacts__contact {
  @include text($text-color: #757575);
  text-decoration: none;
  font-size: 14px;
  transition: color 500ms;
  &:first-child {
    margin-right: 50px;
  }
  &:hover {
    color: $text-hover-color;
  }
}
.contacts__link {
  @include text($text-color: #757575);
  text-decoration: none;
  font-size: 14px;
  transition: color 500ms;
  &:hover {
    color: $text-hover-color;
  }
}
.contacts__svg {
  justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}
.gray-cross {
  background-color: $web-logo-color;
  width: 100%;
  border: 1px solid #eeeeee;
}
