.header .container {
  display: flex;
  align-items: center;
}
.webstudio {
  display: block;
  font-family: 'Raleway', serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
}
.web {
  color: #2196f3;
}
.studio {
  color: black;
}
.header__list {
  font-weight: 500;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 93px;
}
.header__link:hover {
  color: #2196f3;
}
.header__item:hover .header__link-box::after {
  opacity: 1;
  margin-top: 28px;
}
.header__link-box {
  position: relative;
}
.header__link-box::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  transition: margin-top 1s;
}
.header__link-2:hover {
  color: #2196f3;
}
.header__link-2 {
  transition: color 500ms;
}
.header__item {
  margin-right: 54px;
}
.header__link {
  font-size: 14px;
  text-decoration: none;
  color: black;
  transition: color 500ms;
}
.contacts {
  font-weight: 500;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts__contact:first-child {
  margin-right: 50px;
}
.contacts__link:hover {
  color: #2196f3;
}
.contacts__contact {
  color: #757575;
  transition: color 500ms;
}
.contacts__contact:hover {
  color: #2196f3;
}
.contacts__link {
  text-decoration: none;
  font-size: 14px;
  color: #757575;
  transition: color 500ms;
}
.contacts__svg {
  justify-content: center;
  margin-right: 10px;
  fill: currentColor;
}
