.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__headline {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  @extend %flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__svg {
  fill: currentColor;
}
.clients__item {
  @media screen and (min-width: 480px) {
    width: 210px;
    height: 92px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  color: #afb1b8;
  transition: color 500ms;
  &:hover {
    color: $text-hover-color;
  }
}
.clients__background {
  @extend %flex;
  @media screen and (min-width: 480px) {
    width: 210px;
    height: 92px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: box-shadow 1000ms;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  &:hover {
    box-shadow: 1px 2px 1px rgba(33, 150, 243, 1),
      0px 1px 1px rgba(33, 150, 243, 1), 0px 1px 3px rgba(33, 150, 243, 1);
  }
}
