.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__headline {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  @extend %flex;
}
.clients__svg {
  fill: currentColor;
}
.clients__item {
  color: #afb1b8;
  transition: color 500ms;
  margin-right: 30px;
  &:hover {
    color: $text-hover-color;
  }
  &:last-child {
    margin-right: 0;
  }
}
.clients__background {
  width: 170px;
  height: 90px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  @extend %flex;
  transition: box-shadow 1000ms;
  &:hover {
    box-shadow: 1px 2px 1px rgba(33, 150, 243, 1),
      0px 1px 1px rgba(33, 150, 243, 1), 0px 1px 3px rgba(33, 150, 243, 1);
  }
}
