.benefits-section {
}
.benefits-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits {
  @include grids-list(30px);
}
.benefits__item {
  width: 100%;
  @include grids-item(4, 30px);
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  &::before {
    display: block;
    content: '';
    background-color: #f5f4fa;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-position: center;
    margin-bottom: 20px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &:nth-child(1)::before {
    background-image: url(../img-icons/antenna.png);
    background-repeat: no-repeat;
  }
  &:nth-child(2)::before {
    background-image: url(../img-icons/clock.png);
    background-repeat: no-repeat;
  }
  &:nth-child(3)::before {
    background-image: url(../img-icons/diagram.png);
    background-repeat: no-repeat;
  }
  &:nth-child(4)::before {
    background-image: url(../img-icons/astronaut.png);
    background-repeat: no-repeat;
  }
}

.benefits__benefit {
  @media screen and (min-width: 480px) {
    text-align: center;
    font-weight: 700;
    color: #212121;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.benefits__text {
  @media screen and (min-width: 480px) {
    text-align: center;
    font-weight: 400;
    color: #757575;
    text-align: left;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
