.hero-section {
  text-align: center;
  width: 100%;
  padding-bottom: 200px;
  padding-top: 200px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  border-radius: 4px;
  // background-image: linear-gradient(
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../img/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../ximg/hero-mobile@1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../ximg/hero-mobile@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../ximg/hero-tablet@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../ximg/hero-tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../ximg/hero-desktop@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../ximg/hero-desktop@2x.jpg);
    }
  }
}
Ñ– .hero-section .container {
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-section__logo {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.36;
    font-size: 44px;
  }
}
.hero-section__button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: $background-color;
  border: none;
  border-radius: 4px;
  color: #fff;
  transform: scale(1, 1);
  transition: transform 500ms;
  &:hover {
    transform: scale(1.5, 1.5);
  }
}

.background-modal {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 40px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}
.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1000ms;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop__close {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  margin-left: 290px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  transition: color 500ms;
  @media screen and (min-width: 370px) {
    margin-left: 340px;
  }
  @media screen and (min-width: 400px) {
    margin-left: 370px;
  }
  @media screen and (min-width: 480px) {
    margin-top: 40px;
    margin-left: 412px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 16px;
    margin-left: 490px;
  }
}
.backdrop__close:hover .backdrop__close-svg {
  transform: rotate(180deg);
}
.backdrop__close .backdrop__close-svg {
  position: relative;
  transition: transform 1s;
}
.backdrop__close:hover {
  color: $svg-hover-color;
}
.backdrop__close-svg {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
.backdrop__information {
  padding-top: 2px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}
.your-information__label {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
  color: #757575;
  @media screen and (min-width: 480px) {
    margin-right: 800px;
    margin-left: 40px;
  }
}
.your-information__svg {
  position: absolute;
  margin-top: 18px;
  left: 15px;
  fill: currentColor;
  @media screen and (min-width: 480px) {
    left: 55px;
  }
}
.your-information__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: border-color 500ms;
  padding-left: 35px;
  @media screen and (min-width: 480px) {
    width: 370px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
  &:hover {
    border-color: $border-hover-color;
  }
}
.your-information__input .your-information__svg {
  position: relative;
}
.your-information__input + .your-information__svg {
  transition: fill 500ms;
}
.your-information__input:hover + .your-information__svg {
  fill: $svg-color;
}
.your-information__coments {
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 500ms;
  padding-left: 10px;
  padding-bottom: 90px;
  @media screen and (min-width: 480px) {
    width: 370px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
  &:hover {
    border-color: $border-hover-color;
  }
}
.checkbox__agree-with {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}
.checkbox {
  @extend %flex;
}
.checkbox__agree {
  width: 16px;
  height: 15px;
  background: #212121;
  @media screen and (min-width: 480px) {
    padding-left: 52px;
    margin-right: 8.36px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 52px;
  }
}
.checkbox__document-condition {
  color: $text-color;
}
.backdrop__send-information {
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  background: $background-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
