.hero-section {
  text-align: center;
  width: 100%;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  border-radius: 4px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-section .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-section__logo {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  margin-right: auto;
  margin-bottom: 40px;
  color: #fff;
}
.hero-section__button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: $background-color;
  border: none;
  border-radius: 4px;
  color: #fff;
  transform: scale(1, 1);
  transition: transform 500ms;
  &:hover {
    transform: scale(1.5, 1.5);
  }
}

.background-modal {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 40px;
}
.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1000ms;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop__close {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 490px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  transition: color 500ms;
}
.backdrop__close:hover .backdrop__close-svg {
  transform: rotate(180deg);
}
.backdrop__close .backdrop__close-svg {
  position: relative;
  transition: transform 1s;
}
.backdrop__close:hover {
  color: $svg-hover-color;
}
.backdrop__close-svg {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
.backdrop__information {
  padding-top: 2px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}
.your-information__label {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
  color: #757575;
  margin-right: 800px;
  margin-left: 40px;
}
.your-information__svg {
  position: absolute;
  margin-top: 18px;
  left: 55px;
  fill: currentColor;
}
.your-information__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: border-color 500ms;
  &:hover {
    border-color: $border-hover-color;
  }
}
.your-information__input .your-information__svg {
  position: relative;
}
.your-information__input + .your-information__svg {
  transition: fill 500ms;
}
.your-information__input:hover + .your-information__svg {
  fill: $svg-color;
}
.your-information__coments {
  height: 120px;
  width: 448px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 500ms;
  &:hover {
    border-color: $border-hover-color;
  }
}
.checkbox__agree-with {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}
.checkbox {
  @extend %flex;
}
.checkbox__agree {
  margin-left: 52px;
  margin-right: 8.36px;
  width: 16px;
  height: 15px;
  background: #212121;
}
.checkbox__document-condition {
  color: $text-color;
}
.backdrop__send-information {
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  background: $background-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
