.our-team-section {
  background-color: #f5f4fa;
}
.our-team-section .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}
.team {
  @include grids-list(30px);
}
.team__item {
  text-align: center;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  @include grids-item(4, 30px);
  transition: 500ms;
  &:hover {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
}
.team__image-worker {
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 460px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
.team__worker {
  font-weight: 500;
  margin-bottom: 10px;
}
.team__work {
  font-weight: 400;
  color: $title-color;
}
.social {
  @extend %flex;
  margin-top: 30px;
  margin-bottom: 35px;
  gap: 10px;
}
.social__item {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition: color 500ms;
  &:hover {
    color: #fff;
  }
}

.social__background {
  background-color: #fff;
  width: 100%;
  height: 100%;
  @extend %flex;
  border-radius: 60px;
  transition: background-color 500ms;
  &:hover {
    background-color: $background-hover-color;
  }
}
.social__svg {
  fill: currentColor;
}
