.what-we-do-section {
}
.what-we-do-section .container {
  padding-bottom: 94px;
}
.what-we-do__headline {
  font-weight: 700;
  color: #212121;
  font-size: 36px;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}
.what-we-do__list {
  @extend %flex;
}
.what-we-do__item {
  margin-left: 30px;
  &:last-child {
    margin-left: 0;
  }
}

.overley {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
  }
}
.overley__background {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 1%;
  opacity: 0;
  transition: opacity 500ms;
}
.overley:hover .overley__background {
  opacity: 1;
}
.overley__headline {
  position: absolute;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  padding-top: 27px;
  padding-left: 94px;
}
