.portfolio-buttons .container {
  padding-top: 60px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
.portfolio-buttons__list {
  list-style: none;
  @include grids-list(30px);
  justify-content: left;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.portfolio-buttons__item {
  @include grids-item(5, 30px);
}
.portfolio-buttons__link {
  background-color: #f5f4fa;
  border: none;
  height: 38px;
  border-radius: 4px;
  transition: background-color 500ms;
  &:hover {
    background-color: $background-hover-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-buttons__link .portfolio-buttons__logo {
  transition: color 500ms;
}
.portfolio-buttons__link:hover .portfolio-buttons__logo {
  color: #fff;
}
.portfolio-buttons__logo {
  font-weight: 500;
  color: #212121;
  fill: currentColor;
  margin-left: 22px;
  margin-right: 23px;
  font-size: 16px;
}
