.services-section {
}
.services .container {
  padding-top: 50px;
  padding-bottom: 94px;
}
.services__list {
  list-style: none;
  @extend %flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: left;
}
.services__item {
  background: #ffffff;
  border-radius: 1px;
  border: 1px solid #eeeeee;
}
.services__box {
  position: relative;
  overflow: hidden;
}
.services__p {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateX(100%);
  justify-content: center;
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
}
.services__item .services__p {
  transition: transform 1000ms;
}
.services__item:hover .services__p {
  transform: translateX(0);
}
.services__item {
  transition: box-shadow 500ms;
  &:hover {
    border-radius: 1px;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.services__img {
  width: 100%;
  height: 294px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}
.services__link {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 24px;
}
.services__link-2 {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin-bottom: 20px;
  margin-left: 24px;
}
