$web-logo-color: #2196f3;
$header-cross-color: #757575;
$text-color: #2196f3;
$text-hover-color: #2196f3;
$background-color: #2196f3;
$background-hover-color: #2196f3;
$border-hover-color: #2196f3;
$svg-color: #2196f3;
$svg-hover-color: #2196f3;
$title-color: #757575;
